/* Login.css */

body {
    background-color: #e6f2ff;
    font-family: Arial, sans-serif;
}
  
.login-container {
display: flex;
justify-content: space-between;
align-items: center;
max-width: 1000px;
margin: 130px auto;
background-color: white;
border-radius: 20px;
overflow: hidden;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.image-container {
flex: 1;
padding: 40px;
background-color: #e6f2ff;
}

.image-container img {
max-width: 100%;
height: auto;
}

.form-container {
flex: 1;
padding: 40px;
}

h2 {
color: #1a237e;
font-size: 48px;
margin-bottom: 30px;
}

input {
width: 93%;
padding: 15px;
margin-bottom: 20px;
border: 1px solid #ccc;
border-radius: 5px;
font-size: 16px;
}

button {
width: 100%;
padding: 15px;
background-color: #e6f2ff;
color: #1a237e;
border: none;
border-radius: 5px;
font-size: 18px;
font-weight: bold;
cursor: pointer;
transition: background-color 0.3s;
}

button:hover {
background-color: #b3d9ff;
}

.error {
color: red;
margin-top: 10px;
}